* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #f7f7f7;
}

.wrapper {
    background-color: #fff;
    width: 450px;
    box-shadow: 0 0 128px 0 rgba(0, 0, 0, 0.1)
                0 32px 64px -48px rgba(0, 0, 0, 0.5);
    border-radius: 16px;
}

/* Signup Form CSS Code */
.form {
    padding: 25px 30px;
}

.form header {
    font-size: 25px;
    font-weight: 600;
    padding-bottom: 10px;
    border-bottom: 1px solid #e6e6e6;
}

.form form {
    margin: 20px 0;
}

.form form .error-txt {
    color: #721c24;
    background-color: #f8d7da;
    padding: 8px 10px;
    border-radius: 5px;
    margin-bottom: 15px;
    border: 1.5px solid #94323c;
    font-weight: 500;
}

.form form .name-details {
    display: flex;
    gap: 20px;
}

.form form .field {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.form form .field label {
    margin-bottom: 5px;
}

.form form .field input {
    outline: none;
}

.form form .input input {
    height: 40px;
    width: 100%;
    font-size: 1rem;
    padding: 0 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form form .input span {
    position: absolute;
    right: 15px;
    color: #bbb;
    top: 70%;
    transform: translateY(-50%);
    cursor: pointer;
}

.form form .field input[type="submit"]  {
    margin-top: 13px;
    border:none;
    height: 45px;
    font-size: 17px;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    transition: all 0.4s ease;
    cursor: pointer;
}

.form form .field input[type="submit"]:hover {
    transition: all 0.4s ease;
    transform: translateY(-7px);
    box-shadow: 0px 10px 30px 15px rgba(0, 0, 0, 0.1);
}

.form form .field input[type="submit"]:active {
    transform: scale(0.95);
}

.form .link {
    margin: 10px 0;
    text-align: center;
}

.form .link a {
    color: #333;
}

.form .link a:hover {
    text-decoration: underline;
}